[alias]
	# Common shortcuts I use
	co = checkout
	ci = commit
    pullr = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	wd = diff --word-diff="color"
	wds = diff --word-diff="color" --staged
	s = status --short --branch

	# Useful but less often used
	authors = "!git log --pretty=format:%aN | sort | uniq -c | sort -rn"
	today = log --stat --since=\"1 Day Ago\" --graph --pretty=oneline --abbrev-commit --date=relative
	undo = reset --soft HEAD^

[url "git@github.com:markosamuli"]
	insteadOf = https://github.com/markosamuli

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
